<h3>Hello, <%= @user.name %> Thanks for choosing plot with us</h3>

<p>Thank-you for showing interest in buying Hiranandani Premium Villa plot, we will contact you soon...!</p>

<p> You have chosed <%= @user.plot_details %>,</p>
<!-- <p>Once payment have done successfully you will receive a mail</p> -->

<h4><b>Thanks & Regards</b>,</h4>
<a href="http://hiranandaniparks.com/">Hiranandani parks</a>