<style>
  .row div img{
    padding-top: 30px;
  }
</style>

<section style="background-color:  #281314;margin-top: 100px;text-align: center;">
  <div class="container">
    <h1>AMENITIES READY AT PROJECT SITE</h1>
    <br><br>
    <img src="http://cdn.getspini.com/hira-img/amenities/thriveni.png" alt="hira-img">
    <br><br>
    <div class="row">
      <div class="col-md-3 col-sm-3 col-xs-6">
        <img src="http://cdn.getspini.com/hira-img/amenities/amen-01.png" alt="Hiranandani-golf Course">
        <h4>GOLF COURSE</h4>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6">
        <img src="http://cdn.getspini.com/hira-img/amenities/amen-02.png" alt="Hiranandani-polo">
        <h4>POLO</h4>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6">
        <img src="http://cdn.getspini.com/hira-img/amenities/amen-03.png" alt="Hiranandani-cricket">
        <h4>CRICKET</h4>
      </div>
      
      <div class="col-md-3 col-sm-3 col-xs-6">
        <img src="http://cdn.getspini.com/hira-img/amenities/amen-04.png" alt="Hiranandani-basket ball">
        <h4>BASKET BALL</h4>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6">
        <img src="http://cdn.getspini.com/hira-img/amenities/amen-05.png" alt="Hiranandani-tennis">
        <h4>TENNIS</h4>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6">
        <img src="http://cdn.getspini.com/hira-img/amenities/amen-06.png" alt="Hiranandani-squash">
        <h4>SQUASH</h4>
      </div>
      
      <div class="col-md-3 col-sm-3 col-xs-6">
        <img src="http://cdn.getspini.com/hira-img/amenities/amen-07.png" alt="Hiranandani-volley ball">
        <h4>VOLLEY BALL</h4>
      </div>
    </div>
    <h1 style="padding-top: 30px;">CLUBHOUSE</h1>
    <br>
    <div class="row" style="padding-bottom: 50px;">
      <div class="col-md-3 col-sm-3 col-xs-6">
        <img src="http://cdn.getspini.com/hira-img/amenities/amen-09.png" alt="Swimming pool">
        <h4>SWIMMING POOL</h4>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6">
        <img src="http://cdn.getspini.com/hira-img/amenities/amen-10.png" alt="Hiranandani-yoga area">
        <h4>YOGA AREA</h4>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6">
        <img src="http://cdn.getspini.com/hira-img/amenities/amen-11.png" alt="Hiranandani-gymnasium">
        <h4>GYMNASIUM</h4>
      </div>

      <div class="col-md-3 col-sm-3 col-xs-6">
        <img src="http://cdn.getspini.com/hira-img/amenities/amen-12.png" alt="Hiranandani-play area">
        <h4>PLAY AREA</h4>
      </div>
      
    </div>
  </div>
</section>
