<style>
		.left-logo{
			background-color: #fff;
		}
		.right-logo img{
			background-color: #fff;
		}
		.typeform-share{
			display: none !important;
		}
		.menu{
			padding-top: 20px;
		}
		.logo{
			margin-top: -77px !important;
		}
</style>

<section class="bg-about" style="padding-top: 150px;">
	<div class="container">
		<div class="row">
			<div class="text-center">
				<%= image_tag("line-top.png", :alt => "hiranandani-image") %>

					<h1>CONTACT US </h1>
					<!-- <h3>Oragadam, Chennai</h3> -->
				<%= image_tag("line-bottom.png", :alt => "hiranandani-image") %>
			</div>
		</div>
		<br><br>

		<div class="row" >
			<div class="col-md-1"></div>
		  <div class="col-md-4">

			<h3>Site Office :-</h3>
			<p>Hiranandani Parks,<br>
			Thriveni Nagar,<br> 
			Vadakkupattu Village,<br> 
			Oragadam,
			<br>Kancheepuram District – 603 204
			<br>Tel: <a href="tel:+914439942558">+91 44 3994 2558</a> <br>
			E.Mail Id : <a href="mailto:hparks@hrealty.com ">hparks@hrealty.com</a></p>
			
			<!-- <div class="City-off" style="padding-top: 30px;">
			<h3>City Office:-</h3>
			<p>No 40,MT Rajan Building,<br>
			Bazullah Road,<br>
			T.nagar,<br>
			Chennai – 600 017<br>
			Landmark: Behind ICICI Bank.<br>
			Tel: <a href="tel: +91 44 3994 2558">+91 44 3994 2558</a> <br>
			E.Mail Id : <a href="mailto:hparks@hrealty.com ">hparks@hrealty.com</a></p>
			</div> -->
			<br><br>
			<h3>Head Office:-</h3>
			<p>Hiranandani Communities,<br>
			1st Floor, Olympia , Central Avenue,<br>
			Hiranandani Business Parks,<br>
			Hiranandani Gardens,<br>
			Powai, Mumbai - 400 076.<br>
			Tel: <a href="tel:+912225763705">+91 22 2576 3705</a><br>
			</p>
		  </div>
		  <div class="col-md-6 text-center" style="padding-top: 20px;">
			<img  src="http://cdn.getspini.com/hira-img/phone-icon.png " height="250" width="250" alt="hiranandani-contact">

			
				
			
		  </div>
		</div>
	</div>

</section>

<!-- <section>
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-12 col-lg-12" style="margin-top: 50px; margin-left: 30px; margin-bottom: 30px;" id="prop-loc">
			<h3 class="site-color">Location Map</h3>
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d124488.85152767989!2d80.0266381249843!3d12.825393819595336!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a52f0631745a599%3A0x806dd25293d47bb4!2sHiranandani+Parks!5e0!3m2!1sen!2sin!4v1515405315464" width="95%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>
		</div>
	</div>
</section> -->

