<html>
<head>
<title> Iframe</title>
</head>
<body>
<center>

 <!--  <iframe  width="482" height="500" scrolling="No" frameborder="0"  id="paymentFrame" src="https://test.ccavenue.com/transaction/transaction.do?command=initiateTransaction&encRequest=<%=@encrypted_data %>&access_code=<%=@access_code %>"></iframe>
</center> -->
<center>
    <form method="post" name="redirect" action="https://test.ccavenue.com/transaction/transaction.do?command=initiateTransaction"> 
    <input type="hidden" name="encRequest" value="<%=@encrypted_data%>" />
    <input type="hidden" name="access_code" value="<%=@access_code%>" />
  </form>
</center>
<script language="javascript">document.redirect.submit();</script>
<!-- <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script> -->
<!-- <script type="text/javascript">
      $(document).ready(function(){
        $('iframe#paymentFrame').load(function() {
         window.addEventListener('message', function(e) {
             $("#paymentFrame").css("height",e.data['newHeight']+'px');    
         }, false);
       }); 
      });
  </script> -->
</body> 
</html>
