<h1>success</h1>
<h1><%= @decResp %></h1>
<p><%= @user_id %></p>
<!--  <%@decResp.each do |key|%> 
    <tr>
      <td><%=key.from(0).to(key.index("=")-1)%> </td>
      <td><%=key.from(key.index("=")+1).to(-1)%> </td>
    </tr>
 <%end%> -->


 <script type="text/javascript">
 	var arr = @decResp;
 	var arr2 = arr.split(',');
 	console.log(arr2);
 </script>

