<h1>success</h1>
<p><%= @decResp.order_id %></p>
<h1><%= @decResp %></h1>
<%@decResp.each do |key|%> 
    <tr>
      <td><%=key.from(0).to(key.index("=")-1)%> </td>
      <td><%=key.from(key.index("=")+1).to(-1)%> </td>
    </tr>
  <%end%>