<h1><%= @user.name%></h1>
<p>Thank You for Your Submission</p>
<!-- <a href="http://getspini.com" target="_blank">click here</a> -->
<h2>You order id:<%= @user.id %></h2>
<p>Please make sure to complete your payment, You will receive a mail after payment submission.</p>




<p><strong>Thank You & Regards</strong></p>
<a href="http://hiranandaniparks.com/" target="_blank">hiranandaniparks.com</a>

