@import "bootstrap-sprockets";
@import "bootstrap";


.logo-2 {
	 padding: 10px;
}
section{
	background-image: url(https://d28avw9ny3vgf2.cloudfront.net/application/_img/salesite/everythingyouneed/bg.jpg);
	color:#F4AD33;
}
   


footer{
	background:black;
	min-height:50px;
}   
   