<section class="bg-about" style="margin-top: 50px;">
	<div class="row" style="min-height: 300px;">
		<div class="col-md-12 text-center">
			<h3>Loading....Please wait</h3>
			<img src="https://s3.amazonaws.com/aws-website-hiranandani-z52b5/images/hira-img/loading-1.gif" width="200" />
		</div>
	</div>
</section>
