<script src="https://use.fontawesome.com/26a055647e.js"></script>
<style>
.scroll-top-wrapper i.fa {
    line-height: inherit;
}
    .scroll-top-wrapper{
    position: fixed;
    opacity: 1;
    text-align: center;
    z-index: 99999999;
    color: #000;
    width: 50px;
    height: 48px;
    line-height: 48px;
    right: 0;
    bottom: 30px;
    padding-top: 2px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    } 
    .scroll-top-wrapper:hover {
    background-color: #888888;
    }
    .scroll-top-wrapper.show {
    visibility:visible;
    cursor:pointer;
    opacity: 1.0;
    }
    .scroll-top-wrapper i.fa {
    line-height: inherit;
    }
    .social_media li{
       display:inline-block !important;
   font-size: 13px;
   padding: 5px;
   
   }
   .fa-facebook{
color: #fff;
background-color: #3c5b9b;

}
.fa-twitter{
color: #fff;
background-color: #45a9e1;

}
.fa-instagram{
color: #fff;
background: linear-gradient(#6543c5,#da4176, #f9cd69);

}
.fa-youtube{
color: #fff;
background-color: #ea3f33;

}
.social_icon  li{
       list-style: none;
       display: inline-block;
       padding: 7px;        
   }
  .fa-facebook,.fa-twitter,.fa-instagram,.fa-youtube{
        font-size: 30px ;
        padding: 5px;
    }   
</style>
<footer class="footer-content">
		<div class="container-fluid">
			<div class="row" style="margin-top: 20px;">
				<div class="row">
				<div class="col-md-12 text-center">
                    <ul class="social_media">
                        <li><a style="color: #fff; list-style:none " href="https://www.hiranandaniparks.com/about-us.html"  >About Us</a></li>
                        <li><a style="color: #fff" href="https://www.hiranandaniparks.com/about-oragadam.html""  >About Project</a> </li>
                        <li><a style="color: #fff" href="https://www.hiranandaniparks.com/plots-oragadam.html" >Plots</a> </li>
                        <li><a style="color: #fff" href="https://www.hiranandaniparks.com/apartments.html" >Apartment</a> </li>
                        <li><a style="color: #fff" href="https://www.hiranandaniparks.com/amenities.html" >Amenities</a> </li>
                        <li><a style="color: #fff" href="https://www.hiranandaniparks.com/rental.html" >Living at Hiranandani</a> </li>
                        <li><a style="color: #fff" href="https://www.hiranandaniparks.com/commercial-retail.html" >Commercial Retail</a> </li>
                        <li><a style="color: #fff" href="https://www.hiranandaniparks.com/contact-us.html" >Contact Us</a> </li>
                        <li><a style="color: #fff" href="https://www.hiranandaniparks.com/testimonial.html" >Customer Testimonial</a> </li>
                        <li><a style="color: #fff" href="https://www.hiranandaniparks.com/policies.html" >Policies</a> </li>
                        <li><a style="color: #fff" href="https://www.hiranandaniparks.com/site-map.html" >Sitemap</a> </li>
                        <li><a  href="http://blog.hiranandaniparks.com" target="_blank" style="color:#fff" >Blog</a></li>
                    </ul>
				</div>
                <!-- <div class="footer-map">
                <div class="col-md-4">
                    
                    <div class="col-sm-12 col-md-12 col-lg-12"  id="prop-loc" style="padding:0;" >
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d124488.85152767989!2d80.0266381249843!3d12.825393819595336!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a52f0631745a599%3A0x806dd25293d47bb4!2sHiranandani+Parks!5e0!3m2!1sen!2sin!4v1515405315464" width="100%" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
                </div> -->
                <div class="col-md-12">
                      <ul class="social_icon" style="text-align: center;">
                            <li><a href="https://www.facebook.com/HiranandaniParksOragadam/" target="_blank"><!-- <i class="fa fa-facebook-square"></i> --><img src="https://s3-ap-southeast-1.amazonaws.com/cdn.getspini.com/hira-img/icons/opt/Facebook.png" alt="hiranandaniparks-facebook" height="40"> </a></li>

                            <li><a href="https://www.twitter.com" target="_blank"><!-- <i class="fa fa-twitter"></i> --><img src="https://s3-ap-southeast-1.amazonaws.com/cdn.getspini.com/hira-img/icons/opt/Twitter.png" alt="hiranandaniparks-twitter" height="40"></a></li>

                            <li><a href="https://www.instagram.com/hiranandaniparksoragadam/" target="_blank"><!-- <i class="fa fa-instagram"></i> --><img src="https://s3-ap-southeast-1.amazonaws.com/cdn.getspini.com/hira-img/icons/opt/Instagram.png" alt="hiranandaniparks-instagram" height="40"></a></li>

                            <li><a href="https://www.youtube.com/channel/UC-8texiiowylX4Fkix5RubA" target="_blank"><!-- <i class="fa fa-youtube"></i> --><img src="https://s3-ap-southeast-1.amazonaws.com/cdn.getspini.com/hira-img/icons/opt/Youtube.png" alt="hiranandaniparks-youtube" height="40"></a></li> 
                    </ul>   
                </div>
                <div class="col-md-12 text-center">
                    <!-- <p>© Hiranandani Parks. All rights reserved.   |  --> <!-- <a href="/policies">Policies</a> -->  <!-- |  <a href="/site-map.html">Sitemap</a>  | --><!-- <a href="tamil.html">தமிழ்</a></p> -->
                    <p>© Hiranandani Parks. All rights reserved. 
                    <!-- <p>Powered by <a href="http://getspini.com/">Get Spini</a> </p> -->
                </div>
                <div class="col-md-12 text-center">
                    <!-- <p>© Hiranandani Parks. All rights reserved. -->
                    <p>Powered by <a href="http://getspini.com/">Spini</a> </p> 
                </div>
                </div>
			</div>
		</div>
</footer>

<div class="scroll-top-wrapper">
    <span class="scroll-top-inner">
        <i class="glyphicon glyphicon-circle-arrow-up" style="font-size: 25px;line-height: 2;"></i>
    </span>
</div>
<script>
    $(document).ready(function(){
        $(function(){
     
        $(document).on( 'scroll', function(){
     
            if ($(window).scrollTop() > 100) {
                $('.scroll-top-wrapper').fadeIn();
            } else {
                $('.scroll-top-wrapper').fadeOut();
            }
        });
     
        $('.scroll-top-wrapper').on('click', scrollToTop);
    });
        function scrollToTop() {
        verticalOffset = typeof(verticalOffset) != 'undefined' ? verticalOffset : 0;
        element = $('body');
        offset = element.offset();
        offsetTop = offset.top;
        $('html, body').animate({scrollTop: offsetTop}, 500, 'linear');
    }
 
    })
</script>

<!-- Start of Woopra Code -->
<script>
(function(){
       var t,i,e,n=window,o=document,a=arguments,s="script",r=["config","track","identify","visit","push","call","trackForm","trackClick"],c=function(){var t,i=this;for(i._e=[],t=0;r.length>t;t++)(function(t){i[t]=function(){return i._e.push([t].concat(Array.prototype.slice.call(arguments,0))),i}})(r[t])};for(n._w=n._w||{},t=0;a.length>t;t++)n._w[a[t]]=n[a[t]]=n[a[t]]||new c;i=o.createElement(s),i.async=1,i.src="//static.woopra.com/js/w.js",e=o.getElementsByTagName(s)[0],e.parentNode.insertBefore(i,e)
})("woopra");

woopra.config({
   domain: 'hiranandaniparks.com'
});
woopra.track();
</script>
<!-- End of Woopra Code -->

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-115105783-1"></script>
<script>
 window.dataLayer = window.dataLayer || [];
 function gtag(){dataLayer.push(arguments);}
 gtag('js', new Date());

 gtag('config', 'UA-115105783-1');
</script>

<!-- lsquare -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(["setDocumentTitle", document.domain + "/" + document.title]);
  _paq.push(["setCookieDomain", "*.hiranandaniparks.com"]);
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u=(("https:" == document.location.protocol) ? "https" : "http") + "://lswebanalytics.com/analytics/";
    _paq.push(['setTrackerUrl', u+'lsquare.php']);
    _paq.push(['setSiteId', 165]);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0]; g.type='text/javascript';
    g.defer=true; g.async=true; g.src=u+'lsquare.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<script type="text/javascript">
(function(d, src, c) { var t=d.scripts[d.scripts.length - 1],s=d.createElement('script');s.id='la_x2s6df8d';s.async=true;s.src=src;s.onload=s.onreadystatechange=function(){var rs=this.readyState;if(rs&&(rs!='complete')&&(rs!='loaded')){return;}c(this);};t.parentElement.insertBefore(s,t.nextSibling);})(document,
'//livesquare.in/livesq/scripts/track.js',
function(e){ LiveAgent.createButton('37c44a33', e); });
</script>
<noscript><p><img src="http://lswebanalytics.com/analytics/lsquare.php?idsite=165" style="border:0;" alt="" /></p></noscript>
<!-- End lsquare Code -->



    
